@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Roboto+Mono:wght@500&display=swap');

:root {
    --cor-primaria: linear-gradient(to right, #610500, #001569, #63046B);
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: linear-gradient(to right, #FF5221, #059DF9);
    --cor-bordaimagem: hsl(200, 100%, 70%) 0.125px 2px 14px 0px;
    --cor--link: chartreuse;
    --cor--borderlink: #83cdf7;
    --cor-boxshadow: #020145;
    --cor-flashborderhover: #D1FFFA;
    --cor-rodape: #020145;
    --cor-fundohover: linear-gradient(to right, #FF3F00, #0000DB);

    --fonte-primaria: 'Jost', sans-serif;
    --fonte-secundaria: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body {
    background-image: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    justify-content: flex-start;
    gap: 0.625rem;
    padding: 1.57rem;
    font-family: var(--fonte-primaria);
    font-size: 1.13rem;
    font-weight: 600;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    text-decoration: none;
    
}

.apresentacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 15%;
    gap: 1.25rem;
    width: 100%;
    
}

.apresentacao__conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.apresentacao__titulo {
    background-image: var(--cor-terciaria);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 3rem;
    
}

.apresentacao__frase {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 1.25rem;
}

.apresentacao__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    
    
}

.apresentacao__links__subtitulos {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 1.25rem;   
}

.palavras__destaque {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    background-image: var(--cor-terciaria);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.57rem;
}


.imagens__site {
    border-radius: 0.9375rem;
    box-shadow: var(--cor-bordaimagem);
    width: 45%;
}

.apresentacao__links__redes {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 1.70rem;
    color: var(--cor--link);
    gap: 0.75rem;
    border: 0.3125rem outset var(--cor--borderlink);
    width: 20%;
    border-radius: 0.5rem;
    box-shadow: 0.625rem 1.25rem #020145;
    padding: 1rem 0.5rem;
    transition: 1s;
    cursor: pointer;
}

.apresentacao__links__redes:hover {
    background-color: var(--cor-flashborderhover);
    background-image: var(--cor-fundohover);
    border-radius: 1rem;
    width: 15%;
    transition: 1s;
}

.cadastro__email{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.rodape {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 1.25rem;
    background-color: var(--cor-boxshadow);
    padding: 15px;
}

.apresentacao__fotos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    padding: 40px;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    
}

.imagens__descricao {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.titulo__img {
    background-image: var(--cor-terciaria);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--fonte-primaria);
    font-size: 1.88rem;
    font-weight: 600;
}

.frase__img {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 0.94rem;
}

.titulo__video {
    background-image: var(--cor-terciaria);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--fonte-primaria);
    font-size: 1.88rem;
    font-weight: 600;
}

.frase__video {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 0.94rem;
}

.video__youtube {
    width: 45%;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
            
    }

    .apresentacao {
        flex-direction: column;
        padding:
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .imagens__site {
        width: 100%;
    }

    .apresentacao__links__redes {
        font-size: 1.30rem;
        padding: 1rem 7rem; 
        border: 0.3125rem outset var(--cor--borderlink);
        border-radius: 0.5rem;
        box-shadow: 0.625rem 1.25rem #020145;
        transition: 1s;
        cursor: pointer;
    }

    .apresentacao__links__redes:hover {
        padding: 0.5rem 5.5rem;
    }
    
    .video__youtube {
        width: auto;
    }

    }